@charset "UTF-8";

ul, li{margin:0; padding:0; list-style-type:none}
.container{width:80%; margin:0 auto;}
#boardList>li{
	width:10%; height:40px; line-height:40px; float:left;
	border-bottom:1px solid gray;
}
#boardList>li:nth-child(5n+2){
	width:60%;
}
.wordCut{
	white-space: nowrap; overflow:hidden; text-overflow:ellipsis;
}